include templates/default

  nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') FlowerSoft

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.container-fluid
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-truck
                |  Pedidos
                span.caret
              ul.dropdown-menu
                li
                  a(href='') Ver pedidos
                li.divider(role='separator')
                li
                  a(href='admin/crear/pedido')
                    i.fas.fa-plus-circle
                    |  Crear Pedido
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-clipboard-list
                |  Productos
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Ver productos
                li.divider(role='separator')
                li
                  a(href='#') Crear Producto
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-user
                |  Cuenta
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Configuración
                li.divider(role='separator')
                li
                  a(href='#') Salir
        // /.navbar-collapse
        // /.container-fluid

  .container-fluid
      h4.center Lista de Pedidos
      .table-responsive
        table#mytable.table.table-bordred.table-striped
          thead
            tr
              th Nro.
              th Detalle
              th Fecha
              th Total
              th Cliente
              th Editar
              th Eliminar
          tbody
            each item in pedidos
              tr
              td #{item.id}
              td #{item.detalle}
              td #{item.fecha_entrega}
              td #{item.total}
              td #{item.nombre_cliente}
              td
                a.btn.btn-primary-btn-xs(href='/dashboard/pedido/edit/#{item.id}', type='button', onclick='window.location.reload()')
                  span.glyphicon.glyphicon-pencil
              td
                a.btn.btn-primary-btn-xs(href='/dashboard/pedido/delete/#{item.id}', type='button', onclick='window.location.reload()') 
                  span.glyphicon.glyphicon-trash


  