include templates/default
  include templates/nav

  .container-fluid
      h4.center Lista de Pedidos
      .table-responsive
        table#mytable.table.table-bordred.table-striped
          thead
            tr
              th Nro.
              th Detalle
              th Fecha
              th Total
              th Cliente
              th Editar
              th Eliminar
          tbody
            each item in pedidos
              tr
              td #{item.id}
              td #{item.detalle}
              td #{item.fecha_entrega}
              td #{item.total}
              td #{item.nombre_cliente}
              td
                a.btn.btn-primary-btn-xs(href='/dashboard/pedido/edit/#{item.id}', type='button', onclick='window.location.reload()')
                  span.glyphicon.glyphicon-pencil
              td
                a.btn.btn-primary-btn-xs(href='/dashboard/pedido/delete/#{item.id}', type='button', onclick='window.location.reload()')
                  span.glyphicon.glyphicon-trash
