include templates/default
  include templates/nav_admin
  
  body
    center
      .container-fluid
          .wrapper
            form.form-signin(action='/admin/producto/edit/#{producto.id}', method='POST')
              h2.form-signin-heading.text-center Editar pedido
              input.form-control(id='id', name='id', type='hidden', value='#{producto.id}')
              input.form-control(type='text', name='nombre', placeholder='#{producto.nombre}')
              input.form-control(name='tipo', type = 'hidden', value='#{producto.tipo}')
              input.form-control(type='text', name='precio', placeholder='#{producto.precio}')

              button.btn.btn-lg.btn-block(type='submit') Enviar
