include templates/default
  include templates/nav_admin


  .row
      each item in catalogo
        .col-sm-6.col-md-4
          .thumbnail.admin
            img(src='#{item.imagen}', alt='...').img-responsive
            .caption
              h4 #{item.nombre}
              p.description #{item.descripcion}
              .clearfix
                .price Precio: #{item.precio} $
                a.btn.btn-default.pull-left(href='/admin/producto/edit/#{item.id}', role='button') Editar
                a.btn.btn-danger.pull-center(href='/admin/delete/producto/#{item.id}', role='button') Eliminar
                a.btn.btn-info.pull-right(href='/admin/producto/detalles/#{item.id}', role='button') Ver en detalle
