include templates/default

  include templates/nav

  

  .container
      .row
        .col-md-12
          h4 Pedidos actuales:
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                tr
                  th ID
                  th Total
                  th Detalle
                  th Fecha de Entrega
                  th Ver productos
                  th Editar
                  th Eliminar
              tbody
              each item in pedidos
                script(type='text/javascript').
                    $(document).ready(function(){
                        var id_pedido = #{item.pedido.id}
                        var idDelete ='confirmarBtnDelete'+id_pedido;
                        var idFecha = 'fecha'+id_pedido ;
                        var idDetalle = 'detalle'+id_pedido ;
                        var idEdit ='confirmarBtnEdit'+id_pedido;

                        document.getElementById(idDelete).addEventListener('click', function(){
                            var url = 'http://localhost:3005/dashboard/pedido/delete/'+id_pedido;
                            window.location.href = url;                          
                        });
                        
                        document.getElementById(idEdit).addEventListener('click', function(){
                            
                            var fecha = document.getElementById(idFecha).value;
                            
                            var detalle = document.getElementById(idDetalle).value;
                            
                            const url = 'http://localhost:3005/dashboard/pedido/update';
                            const data = {
                              fecha: fecha,
                              detalle: detalle,
                              id: id_pedido
                            };
                            $.post(url, data, function(data, status){
                                window.location.href = 'http://localhost:3005/dashboard/pedidos' ;
                                console.log('${data} and status is ${status}')
                            }); 
                                                  
                        });
                                

                      }) 
                tr
                  td #{item.pedido.id}
                  td #{item.pedido.total}
                  td #{item.pedido.detalle}
                  td #{item.pedido.fecha_entrega}
                  td 
                    p(data-placement='top', data-toggle='tooltip', title='Productos')
                      button.btn.btn-primary.btn-xs(id = 'read#{item.pedido.id}', data-target='#products#{item.pedido.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-zoom-in
                      div.modal.fade.product_view(id = 'products#{item.pedido.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Productos en el Pedido #{item.pedido.id}
                            .modal-body
                              .table-responsive
                                table#mytable.table.table-bordred.table-striped
                                  thead
                                    tr
                                      th ID
                                      th Producto
                                      th Cantidad
                                      th Total
                                  tbody
                                  each p in item.productos
                                    tr
                                      td #{p.id_producto}
                                      td #{p.nombre_producto}
                                      td #{p.cantidad}
                                      td #{p.total}

                                  
                                       
                                
                        

                  td
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      button.btn.btn-primary.btn-xs(data-target='#edit#{item.pedido.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-pencil
                      div.modal.fade.product_view(id = 'edit#{item.pedido.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Editar Pedido
                            .modal-body
                              .card
                                .row
                                  .col-12.col-lg-6
                                    form(action='', method='POST')
                                      .form-group
                                        label Ingrese la nueva fecha de entrega:
                                        .input-group
                                          input(id = 'fecha#{item.pedido.id}', placeholder='#{item.pedido.fecha_entrega}', type='text', onfocus="(this.type='date')")
                                        label Puede editar los detalles en el pedido:
                                        .input-group
                                          input(id = 'detalle#{item.pedido.id}', type='text', name = 'detalle', placeholder= '#{item.pedido.detalle}')
                                         p
                                          a.btn.btn-success.pull-right(id = 'confirmarBtnEdit#{item.pedido.id}', role='button', type='button') Confirmar
                                         
                                    
                  td
                    p(data-placement='top', data-toggle='tooltip', title='Delete')
                      button.btn.btn-danger.btn-xs(data-target='#delete#{item.pedido.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-trash
                      div.modal.fade.product_view(id = 'delete#{item.pedido.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 ¿Estas seguro que quieres eliminar el pedido #{item.pedido.id}?
                                        dd
                                          p
                                            a.btn.btn-success.pull-right(id = 'confirmarBtnDelete#{item.pedido.id}', role='button', type='button') Confirmar
      
             