include templates/default

  include templates/nav

  script(type='text/javascript').
    $(document).ready(function(){
        var total = #{total} ;
        document.getElementById('confirmarBtn').addEventListener('click', function(){
            var fecha = document.getElementById('fecha').value;
            var detalle = document.getElementById('detalle').value;
            const url = 'http://localhost:3005/dashboard/pedido';
            const data = {
              fecha: fecha,
              detalle: detalle,
              total: total
            }
            $.post(url, data, function(data, status){
                window.location.href = 'http://localhost:3005/dashboard';
                console.log('${data} and status is ${status}')
            });   

          
        });
                

      }) 

  .container
      .row
        .col-md-12
          h4 Productos reservados:
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                tr
                  th ID
                  th Producto
                  th Cantidad
                  th Total
                  th Ver en detalle
                  th Editar
                  th Eliminar
              tbody
              each item in productos
                tr
                  td #{item.id_producto}
                  td #{item.nombre_producto}
                  td #{item.cantidad}
                  td #{item.total}
                  td 
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      //button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit')
                      button.btn.btn-primary.btn-xs(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-zoom-in
                      div.modal.fade.product_view(id = '#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 Su Pedido es el siguiente:
                                        dd
                                          p
                                            | #{item.descripcion}
                                      //p.price-detail-wrap
                                        //span.price.h5.text-warning
                                          //span.currency CLP $
                                          //span.num #{item.total}
                                        //span /cada unidad
                                      // price-detail-wrap .//
                                      .row
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt #{item.nombre_producto} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Cantidad
                                            dd #{item.cantidad} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Total
                                            dd #{item.total} 
                        

                  td
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      button.btn.btn-primary.btn-xs(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-pencil
                      div.modal.fade.product_view(id = '#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 Su Pedido es el siguiente:
                                        dd
                                          p
                                            | #{item.descripcion}
                                      //p.price-detail-wrap
                                        //span.price.h5.text-warning
                                          //span.currency CLP $
                                          //span.num #{item.total}
                                        //span /cada unidad
                                      // price-detail-wrap .//
                                      .row
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt #{item.nombre_producto} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Cantidad
                                            dd #{item.cantidad} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Total
                                            dd #{item.total}
                  td
                    p(data-placement='top', data-toggle='tooltip', title='Delete')
                      button.btn.btn-danger.btn-xs(data-target='#delete#{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-trash
                      div.modal.fade.product_view(id = 'delete#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 ¿Estas seguro que quieres eliminar #{item.nombre_producto} ?
                                        dd
                                          p
                                            a.btn.btn-success.pull-right(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal') Confirmar
      
        .col-md-12
          
          // Trigger the modal with a button
          button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
            i.fas.fa-shopping-cart
            |   Realizar Pedido
          // Modal
          #myModal.modal.fade(role='dialog')
            .modal-dialog
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Confirmar Pedido
                .modal-body
                  h4 Productos en este pedido
                  .table-responsive
                    table#mytable.table.table-bordred.table-striped
                      thead
                        tr
                          th ID
                          th Producto
                          th Cantidad
                          th Total
                      tbody
                      each item in productos
                        tr
                          td #{item.id_producto}
                          td #{item.nombre_producto}
                          td #{item.cantidad}
                          td #{item.total}
                  hr
                  .row                                 
                    .col-12.col-lg-6
                      form(action='/dashboard/pedido', method='POST')
                        .form-group
                          label Ingrese la fecha de entrega:
                          .input-group
                            input(id = 'fecha', type='date', name = 'fecha')
                          label Puede ingresar detalles en el pedido:
                          .input-group
                            input(id = 'detalle', type='text', name = 'detalle')
                            
                          
                    .col-12.col-lg-6
                      label Total a cancelar:
                      |  #{total}       

                .modal-footer
                  button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                  button.btn.btn-success(id = 'confirmarBtn', type='button') Confirmar                                
   

  
                                    


                            
