include templates/default

  include templates/nav
  
  .container
      .row
        .col-md-12
          h4 Productos reservados por [nombre_usuario]
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                tr
                  th ID
                  th Producto
                  th Cantidad
                  th Total
                  th Ver en detalle
                  th Editar
                  th Eliminar
              tbody
              each item in productos
                tr
                  td #{item.id_producto}
                  td #{item.nombre_producto}
                  td #{item.cantidad}
                  td #{item.total}
                  td 
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      //button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit')
                      button.btn.btn-primary.btn-xs(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-zoom-in
                      div.modal.fade.product_view(id = '#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 Su Pedido es el siguiente:
                                        dd
                                          p
                                            | #{item.descripcion}
                                      //p.price-detail-wrap
                                        //span.price.h5.text-warning
                                          //span.currency CLP $
                                          //span.num #{item.total}
                                        //span /cada unidad
                                      // price-detail-wrap .//
                                      .row
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt #{item.nombre_producto} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Cantidad
                                            dd #{item.cantidad} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Total
                                            dd #{item.total} 
                        

                  td
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      button.btn.btn-primary.btn-xs(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-pencil
                      div.modal.fade.product_view(id = '#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 Su Pedido es el siguiente:
                                        dd
                                          p
                                            | #{item.descripcion}
                                      //p.price-detail-wrap
                                        //span.price.h5.text-warning
                                          //span.currency CLP $
                                          //span.num #{item.total}
                                        //span /cada unidad
                                      // price-detail-wrap .//
                                      .row
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt #{item.nombre_producto} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Cantidad
                                            dd #{item.cantidad} 
                                        .col-lg-3
                                          dl.param.param-feature
                                            dt Total
                                            dd #{item.total}
                  td
                    p(data-placement='top', data-toggle='tooltip', title='Delete')
                      button.btn.btn-danger.btn-xs(data-target='#delete#{item.id_producto}', href='#', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-trash
                      div.modal.fade.product_view(id = 'delete#{item.id_producto}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 ¿Estas seguro que quieres eliminar #{item.nombre_producto} ?
                                        dd
                                          p
                                            a.btn.btn-success.pull-right(data-target='##{item.id_producto}', href='#', role='button', type='button', data-toggle='modal') Confirmar
                                      
  .row
    .col-md-12
      center
        h4 #{total}
        button.btn.btn-lg.btn-success(type='submit')
          i.fas.fa-shopping-cart
          |   Realizar Pedido 



