include templates/default

  include templates/nav

  

  .container
      .row
        .col-md-12
          h4 Pedidos actuales:
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                tr
                  th ID
                  th Total
                  th Detalle
                  th Fecha de Entrega
                  th Ver productos
                  th Editar
                  th Eliminar
              tbody
              each item in pedidos
                script(type='text/javascript').
                    $(document).ready(function(){
                    var id_pedido = #{item.id}
                     var idTabla = 'table'+id_pedido;
                        function myFunction(i, id, total, cantidad, nombre_producto) {                       
                            
                            var table = document.getElementById(idTabla);
                            var row = table.insertRow(i);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            cell1.innerHTML = id;
                            cell2.innerHTML = nombre_producto;
                            cell3.innerHTML = cantidad;
                            cell4.innerHTML = total;

                        }
                        var idRead = 'read'+id_pedido;

                        document.getElementById(idRead).addEventListener('click', function(){
                            const url =  'http://localhost:8080/pedidos/productos/'+id_pedido;
                            $.get(url, function(data, status){
                              var productos = JSON.parse(data).data;
                              for(var i=0; i < productos.length ; i++){
                                var id = productos[i].id_producto;
                                var total = productos[i].total;
                                var cantidad = productos[i].cantidad;
                                var nombre_producto = productos[i].nombre_producto;
                                myFunction(i, id, total, cantidad, nombre_producto);
                              }
                            })                          
                        });
                        
                        var idDelete ='confirmarBtnDelete'+id_pedido;
                        var idFecha = 'fecha'+id_pedido ;
                        var idDetalle = 'detalle'+id_pedido ;
                        var idEdit ='confirmarBtnEdit'+id_pedido;

                        document.getElementById(idDelete).addEventListener('click', function(){
                            var url = 'http://localhost:3005/dashboard/pedido/delete/'+id_pedido;
                            window.location.href = url;                          
                        });
                        
                        document.getElementById(idEdit).addEventListener('click', function(){
                            
                            var fecha = document.getElementById(idFecha).value;
                            
                            var detalle = document.getElementById(idDetalle).value;
                            
                            const url = 'http://localhost:3005/dashboard/pedido/update';
                            const data = {
                              fecha: fecha,
                              detalle: detalle,
                              id: id_pedido
                            };
                            $.post(url, data, function(data, status){
                                window.location.href = 'http://localhost:3005/dashboard/pedidos' ;
                                console.log('${data} and status is ${status}')
                            }); 
                                                  
                        });
                                

                      }) 
                tr
                  td #{item.id}
                  td #{item.total}
                  td #{item.detalle}
                  td #{item.fecha_entrega}
                  td 
                    p(data-placement='top', data-toggle='tooltip', title='Productos')
                      button.btn.btn-primary.btn-xs(id = 'read#{item.id}', data-target='#products#{item.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-zoom-in
                      div.modal.fade.product_view(id = 'products#{item.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Productos en el Pedido #{item.id}
                            .modal-body
                              .table-responsive
                                table.table.table-bordred.table-striped(id = 'table#{item.id}')
                                  thead
                                    tr
                                      th ID
                                      th Producto
                                      th Cantidad
                                      th Total
                                  tbody

                                  
                                       
                                
                        

                  td
                    p(data-placement='top', data-toggle='tooltip', title='Edit')
                      button.btn.btn-primary.btn-xs(data-target='#edit#{item.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-pencil
                      div.modal.fade.product_view(id = 'edit#{item.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Editar Pedido
                            .modal-body
                              .card
                                .row
                                  .col-12.col-lg-6
                                    form(action='', method='POST')
                                      .form-group
                                        label Ingrese la nueva fecha de entrega:
                                        .input-group
                                          input(id = 'fecha#{item.id}', placeholder='#{item.fecha_entrega}', type='text', onfocus="(this.type='date')")
                                        label Puede editar los detalles en el pedido:
                                        .input-group
                                          input(id = 'detalle#{item.id}', type='text', name = 'detalle', placeholder= '#{item.detalle}')
                                         p
                                          a.btn.btn-success.pull-right(id = 'confirmarBtnEdit#{item.id}', role='button', type='button') Confirmar
                                         
                                    
                  td
                    p(data-placement='top', data-toggle='tooltip', title='Delete')
                      button.btn.btn-danger.btn-xs(data-target='#delete#{item.id}', role='button', type='button', data-toggle='modal')
                        span.glyphicon.glyphicon-trash
                      div.modal.fade.product_view(id = 'delete#{item.id}')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal') ×
                              h3.modal-title Detalle
                            .modal-body
                              .card
                                .row
                                  aside.col-sm-7
                                    article.card-body.p-5
                                      dl.item-property
                                        h3 ¿Estas seguro que quieres eliminar el pedido #{item.id}?
                                        dd
                                          p
                                            a.btn.btn-success.pull-right(id = 'confirmarBtnDelete#{item.id}', role='button', type='button') Confirmar
      
             